

.body{
    background-color: plum;


   

}

.nav-bar{
    display: flex;
}

.nav-bar div{
    padding: 10px;
    background-color: pink;
}

.main-body{

    display: flex;

    
}

.paragraph{
    padding: 20px;
    background-color: white;
}
.paragraphin{
      
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.parent{


   
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );

  
}

.child{
   position: relative;
   
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.center{
    background-color: white;

    padding: 5px 20px ;
    outline-style: solid;
    outline-color:  palevioletred;
    outline-width: 5px;

    
    
}


.poetrybody{
    display:grid; 
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );
  
}


.poetry1{
    padding: 10px;
    border: 8px solid plum;
    background-color: white;
 

}


.centering4{

    background-color: white;
    position: relative;
    top: 0;
  
    width: 100%;
    display: flex;
    justify-content: center;
 
}





.line{
    line-height: 1.3;
}

.rearrange{
    display: flex;
}

.title{
  
    margin: 0 auto;
    text-align: center;
    color: black;
    padding: 20px;
}


.textoncolor{
     
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  

    padding: 32px;
    color: black;
    background-color:#E8D82A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
}


.header{
    margin: 0 auto;
    text-align:center;
}

.explination{
    background-color: white;
   
    color: purple;
    line-height: 1.5;
    margin: 10px;
    padding: 10px;
    font-style:italic;
}


.layout{
    display: grid;
   
   
    grid-template-columns: repeat( auto-fit, minmax(440px, 1fr) );
}


.centering3{
   padding: 5px;
   padding: 10px;
   background-color: palevioletred;


}

.video{
    position: relative;
    top:0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
   
}



.nav-bar .current{
    background-color: white;

}

.centering2{
    position: relative;
    top:0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

}





#lightbox {
    position: fixed;
    z-index: 1000;
	top: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
    display: none;

}

#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}
#lightbox img {
    max-width: 60vw;
	max-height: 90vh;
	padding: 5px;
    background-color: palevioletred;

	border: 2px solid white;
}


.img{
    max-width: 100%;
    transition: all 1s ease;
    cursor: pointer;
}


#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    outline: none;
    border: none;
    background-color: #E8D82A;
    color: black; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 14px; 
  }
  
  #myBtn:hover {
    background-color:palevioletred; 
  }